* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
    box-sizing: border-box;
}
.textcenter {
  text-align: center;
}
body{
  margin: 0px;
}

/*navigation bar*/
.navbar {
  display: flex;
  height: 6rem;
  position: relative;
  flex-wrap: wrap;
  padding: 0.5rem;
  color: white;
  background-color: #050577;
  z-index: 1000;
}
.navbar-nav{
  margin-left: auto;
}
.logo {
  background-image: url(twlogo.jpg);
  width: 80px;
  height: 80px;
  background-size: cover;
}
.nav-item {
  padding: 1vw;
  border: 1px solid transparent;
  transition: transform 0.3s ease-in-out;
  color: white;
}
.nav-item a.nav-link {
  color: white; 
}
.custom-light-background{
  background-color: #050577;
}
.custom-light-background .nav-item:hover {
  background-color: #040459;
  color: white;
  transform: scale(1.05);
  border: 1px solid white;
}

/*slideshow*/
.mySlides {
  display: none;
}
.mySlides img {
  opacity: .9;
}

/* slideshow container */
.slideshow-container {
  max-width: 100%;
  width: 100%;
  position: relative;
}
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
@keyframes fade {
  from {opacity: .8;}
  to {opacity: 1;}
}

/*caption text*/
.text {
  color: #040459;
  font-size: 6vw;
  padding: 1.5% 2%;
  position: absolute;
  bottom: 25%;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 8px white;
  font-weight: bold;
  transform: translate(-50%, -50%);
  left: 50%;
}
.tagline {
  color: #040459;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  padding: 1.5% 2%;
  position: absolute;
  bottom: 25%;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 8px white;
  transform: translate(-50%, -50%);
  left: 50%;
}
.quote {
  color: #040459;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  padding: 1.5% 2%;
  position: absolute;
  bottom: 18%;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 8px white;
  transform: translate(-50%, -50%);
  left: 50%;
}

/*top destination section*/
.topdes {
  background-color: #e5e1e1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titlefirst {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.titlefirst p {
  color: grey;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.titlefirst h2 {
  color: #040459;
  font-family: 'Playfair Display',serif;
  font-weight: 900;
  font-size: 4vw;
}

/*boxes*/
.box {
  height: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
p.placename{
  font-size: 2.5vw;
  color: #061a3a;
  font-weight: bold;
}
.image-container {
  height: 350px;
  overflow: hidden;
}
.box-img {
  max-width: 100%;
  height: auto;
  background-size: cover;
  display: block;
  transition: transform 0.3s ease;
}
.intro{
  font-size: 1.2vw;
  margin-top: 10px;
}
.box-img:hover {
  transform: scale(1.1);
}
.btn-box a {
  position: relative;
  display: inline-block;
  font-size: 1vw;
  color: #061a3a;
  border: 1px solid #e4e8e9;
  border-radius: 4px;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
}
a{
  background-color: transparent;
  text-decoration: none;
}
.btn-box a:hover {
  background-color: #040459;
  color: white;
}

/*package button*/
.container-fluid {
  position: relative;
}
.quotation {
  position: relative;
  background-image: url('packbuttonpic.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
  color: white;
  padding: 10% 50% 20% 10%;
}
.btn {
  position: absolute;
  bottom: 30%;
  left: 10%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.2);
}
.quote2 {
  font-size: 3vw;
  font-family: 'Playfair Display', serif;
}

/*review*/
.review h1 {
  position: relative;
  margin-top: 20px;
  color: white;
  padding: 10% 0;
  background-image: url('ssimg_4.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 6vw;
  font-family: 'Playfair Display',serif;
  color: #061a3a;
  font-weight: 700;
}
.review {
  background: #f1f1f1;
  color: #434343;
}
.border2 {
  width: 20%;
  height: 5px;
  background: #6ab04c;
  margin: 2% 40% 2% 40%;
}
.testimonial {
  background: #fff;
  padding: 10px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 2vw;
  text-transform: uppercase;
  margin: 10px 0;
}
.stars {
  color: #6ab04c;
  margin-bottom: 10px;
}
.reviewswritten{
  font-size: 1vw;
}

/*footer*/
.footerpart {
  margin-top: 20px;
  background-color: #040459;
  color: white;
  padding: 50px 20px;
  font-family: 'Playfair Display',serif;
}
.footerpart div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
form input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  outline: none;
  border: none;
}
form button {
  width: 20%;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 30%;
  display: block;
  margin-top: 5%;
}
.social-icons {
  margin-top: 1.5vw;
}
.social-icons i {
  margin: 10px;
  cursor: pointer;
}
.font{
  font-family: 'Playfair Display',serif;
}